/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
.containerС{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #logoYamaha{
    width: 500px;
    padding-top: 20px;
    margin-left: 50px;
  }
  #divIconsHeader{
    margin: 40px;
  }
  /* .searchInput{
    width: 500px;
    height: 50px;
    outline: none;
    border: 2px solid #481677;
    border-radius: 30px;
    background: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-5.png') no-repeat 450px 50%;
    background-size: 30px;
    margin-right: 40px;
    color: #8f8f8f;
    font-size: 20px;
    padding: 10px;
  }
  .searchInput::placeholder {
    color: #8f8f8f;
    font-size: 20px;
    padding: 10px;
  }
  .searchInput:hover{
    box-shadow: 3px 3px 3px #481677;
    cursor: pointer;
  } */
  .iconsHeader{
    width: 40px;
    height: 30px;
    padding-right: 30px;
  }
  .iconsHeader:hover{
    cursor: pointer;
    color: #481677;
  }
  #likeIcon{
    margin-left: 40px;
  }
  #likeIcon:hover{
    color: red;
  }

  #containerPopular {
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contentPopularProducts{
    color: #481677;
    margin-left: 60px;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
  .card_box {
    width: 250px;
    height: 300px;
    margin: 60px;
    border-radius: 20px;
    background: linear-gradient(170deg, white 0%,#481677  100%);
    position: relative;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card_box:hover {
    transform: scale(0.9);
  }
  
  .card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_box span::before {
    content: 'PREMIUM';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #481677  51%, #ff7053  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  }
  
  .card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  }


#selectPhones{
    outline: none;
    border: none;
    margin-left: 50px;
    margin-top: 0px;
}
.menu{
    display: flex;
    justify-content: center;
    background-color: rgb(124, 105, 142);
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 40px;
    height: 65px;
}
ul{
    display: flex;
    list-style-type: none;
    color: white;
}
.menuCategory{
    font-size: 20px;
    padding: 15px;
    margin-right: 80px;
    margin-bottom: 10px;
    right: 0;

}
.menuCategory:hover{
    border-bottom: 4px solid rgb(86, 24, 145);
    transition: border-width .5s;
    cursor: pointer;
}
#showBlockDiv{
    display: flex;
    width: 1500px;
}
#sortDiv{
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 35px;
    margin-top: 40px;
    height: 420px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 3px 20px 6px rgb(124, 105, 142);
    position:inherit;
}
#cardsDiv{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    flex-direction: row;
    width: 1200px;
   
}
.min-caption{
    visibility: hidden;
}
.max-caption{
    visibility: hidden;
}
.pictureCard{
    margin-left: 70px;
    width: 150px;
    height: 180px;
}
.cards{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 6px rgb(124, 105, 142);
    width: 350px;
    height: 420px;
    margin: 40px;
}
.cards:hover{
    cursor: pointer;
    transition: 0.4s all;
    transform: scale(1.1); 
}
.btnBuy{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    border: 2px solid rgb(149, 140, 157) ;
    background-color: rgb(124, 105, 142);
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 20px;
}
.btnBuy:hover{
    cursor: pointer;
    box-shadow: 1px 1px 10px 3px rgb(124, 105, 142);
    border: none;
}
.SortMoneyButton{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    border: 2px solid rgb(149, 140, 157) ;
    background-color: rgb(124, 105, 142);
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 20px;
}
.titleProduct{
    margin-top: 20px;
    color: black;
}
.carousel-status{
    visibility: hidden;
}
.footer{
    background-color: rgb(33, 33, 33);
    height: 400px;
    margin-top: 40px;
    color: white;
}
.logoImgFooter{
    width: 150px;
    margin-top: 30px;
    margin-left: 50px;
}
.phoneNumbers{
    display: block;
    margin-left: 20px;
    margin-top: 40px;
}
.infoUl{
    display: block;
    margin-top: 40px;
    margin-left: -30px;
}
.numbers{
    color: white;
    width: 120px;
}
.numbers:hover{
    color:  rgb(124, 105, 142);
    cursor: pointer;
}
.info{
    color: white;
}
.info:hover{
    color: rgb(124, 105, 142);
    cursor: pointer;
}
.icons{
    margin-top: 20px;
    margin-left: 52px;
}
i{
    margin-right: 20px;
}
i:hover{
    color: rgb(124, 105, 142);
    cursor: pointer;
}
.popularCards{
    padding: 20px;
    color: white;
    background-color: rgb(124, 105, 142);
    border-radius: 10px;
    box-shadow: 3px 3px 20px 6px rgb(124, 105, 142);
    width: 350px;
    height: 320px;
    margin: 40px;
    overflow: hidden;
}
.picturePopularCard{
    margin-top: 32px;
    /* margin-left: 60px; */
    width: 170px;
    height: 180px;
    border-radius: 20px;
}
.popularCards:hover{
    color: rgb(124, 105, 142);
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 6px rgb(124, 105, 142);
}
.popularCards:hover .picturePopularCard{
    animation: rot 5s;
}
@keyframes rot {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
      transition: 0.4s;
      margin-top: 100px;
    }
  }
.btnToTop{
    background-color: rgb(124, 105, 142);
    border: none;
    color: white;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    float: right;
    margin-top: -90px;
    margin-right: 60px;
    animation: pulse 1300ms infinite;
}
@keyframes pulse {
    0% { 
        background-color: rgb(86, 24, 145); 
        box-shadow: 0 0 13px rgb(86, 24, 145); 
        /* margin-top: -100px; */
    }
    50% { 
        background-color: rgb(124, 105, 142); 
        box-shadow: 0 0 20px rgb(124, 105, 142); 
    }
    100% { 
        background-color: rgb(86, 24, 145); 
        box-shadow: 0 0 103px rgb(86, 24, 145); 
        margin-top: -100px;
    }
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }
  
  .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: rgb(171, 170, 170);
  }
  
  .input::placeholder,
  .input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 115px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .icon:focus ~ .input,
  .input:focus + .searchButton {
    visibility:visible;
    
  }
  
  .btnEnabled{
    background-color: rgb(207, 207, 207);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 20px;
  }
  .basketCard{
    background-color: white;
    padding: 20px;
    box-shadow: 3px 3px 20px 6px rgb(124, 105, 142);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .titleBasketProduct{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .pictureBasketCard{
    width: 150px;
    height: 150px;
  }
  .priceBasket{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
  }
  .p1[data-count]:after{
    position:absolute;
    width: 10px;
    content: attr(data-count);
    font-size:50%;
    padding:.2em;
    border-radius:50%;
    line-height:1em;
    color: #481677;
    /* background:rgba(183, 0, 255, 0.85); */
    text-align:center;
    min-width: 1em;
    font-weight:bold;
  }
  #shopBasket{
    margin-left: 30px;
    width: 40px;
    height: 30px;
    padding-top: -20px;
  }
  #shopBasket:hover{
    cursor: pointer;
    color: #481677;
  }
  #trashIcon{
    position: relative;
    float: right;
    font-size: 24px;
   }
   .amountOfProduct::-webkit-inner-spin-button { 
    opacity: 1;
   }
   .amountOfProduct{
    width: 50px;
    position: absolute;
    float: right;
    margin-top: 110px;
    margin-left: 450px;
    font-size: 20px;
    color: #481677;
    text-align: center;
  }
  .textAmountProduct{
    font-size: 20px;
    color: #481677;
    position: absolute;
    float: right;
    margin-top: 110px;
    margin-left: 300px;
  }
  .searchInput {
    width: 500px;
    height: 50px;
    outline: none;
    border: 2px solid #481677;
    border-radius: 30px;
    background-size: 30px;
    color: #8f8f8f;
    font-size: 20px;
    padding: 10px;
  }
  .searchInput::placeholder {
    color: #8f8f8f;
    font-size: 20px;
    padding: 10px;
  }
  .searchInput:hover{
    box-shadow: 3px 3px 3px #481677;
    cursor: pointer;
  }
  
  #searchIconID {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-left: 450px;
    margin-top: 13px;
    position: absolute;
    z-index: 1;
    float: left;
  }

  #searchIconID:hover {
    color: #5d16a2;
  }
  #isTotalSumm{
    visibility: hidden;
  }
  .summaHidden{
    visibility: hidden;
  }



  
  
  